body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-image: linear-gradient(to right, #672280 , #A626D3);
  color: white;
  height: 5rem;
  font-size: 2rem;
  font-weight: 500;
}

.navright {
  font-size: 1.2rem;
}

input {
  height: 3rem;
  width: 20rem;
}

button {
  background-image: linear-gradient(to right, #672280 , #A626D3);
}

.meme {
  position: relative;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.top {
  top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


@media screen and (min-width: 300px) {
  .meme--image {
    width: 20rem;
  }
  .meme--text {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 768px) {
  .meme--image {
    width: 40rem;
    margin-left: 0.5rem;
  }

  .meme--text {
    font-size: 3em;
  }

  .toptext {
    margin-right: 1rem;
  }
}

