body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 2rem;
}

h3{
  font-size:1.2rem;
}

.card {
  width: 200px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */

}

.card-title {
  font-size: 12px;
}

.card-body {
  font-size: 12px;
}

.btn {
  font-size:1rem;
}


.light {
  color: gray;
}

.badge {
  position: absolute;
  margin: 0.5rem;
  font-weight: 400;
}